:root {
  font-family: "Poppins", sans-serif;
  font-size: 1.125em;
  --theme1: #fdfdfd;
  --theme2: #e4e4e4;
  --theme3: #d1d1d1;
  --theme4: #a0a0a0;
  --theme5: #777777;
  --theme6: #363636;
}

html {
  height: 100vh;
  background-color: var(--theme2);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.vacancy-button {
  font-size: small;
  border-radius: 0.5em;
  padding: 0 0.5em;
}
.vacancy-button:hover {
  background-color: var(--theme6);
  color: var(--theme1);
}

.more {
  margin-top: 2em;
  width: 10em;
}
